<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <div>
          Your new deal was created! <br>
          View <a href="https://dagon-sandbox.pipedrive.com/deal/{{ id }}" target="_blank">here.</a>       
        </div>
    </div>
</div>